<?xml version="1.0" encoding="UTF-8"?>
<configuration >

    <appender name="Console-Appender" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%msg%n</pattern>
        </layout>
    </appender>

    <logger name="com.mindtree.scheduler.service.impl.ThreadServiceImpl" level="info" additivity="false">
        <appender-ref ref="Console-Appender" />

    </logger>
    <root level="debug">
        <appender-ref ref="Console-Appender" />
    </root>
</configuration>